@model ImageServiceWeb.Models.ConfigModel

@{
    ViewBag.Title = "Config";
}


<h2>Config</h2>

<ul>
    <li>
        <b>@Html.DisplayNameFor(model => model.m_outputDirectory)</b>
        @Html.DisplayName(Model.m_outputDirectory)
    </li>
    <li>
        <b>@Html.DisplayNameFor(model => model.m_sourceName)</b>
        @Html.DisplayName(Model.m_sourceName)
    </li>
    <li>
        <b>@Html.DisplayNameFor(model => model.m_logName)</b>
        @Html.DisplayName(Model.m_logName)
    </li>
    <li>
        <b>@Html.DisplayNameFor(model => model.m_ThumbnailSize)</b>
        @Html.DisplayName(Model.m_ThumbnailSize)
    </li>
    <li>
        <b>@Html.DisplayNameFor(model => model.m_handlers)</b>
        @if (Model.m_handlers != null)
        {
            @*show the table of the handlers*@
            <table class="table">
                @foreach (string handler in Model.m_handlers)
                {
                <tr>
                    <td>
                        @if (handler != null && handler != "")
                        {
                            @*link to different page, to delete the handler*@
                            @Html.ActionLink(@handler, "ConfigRemove", "Home", new { dir = handler }, null)
                        }
                    </td>
                </tr>
                }
            </table>
        }
    </li>
</ul>

<br />
